version: "3.8"

services:
    db:
        image: postgres:15
        restart: always
        environment:
            - POSTGRES_USER=bjorn_user
            - POSTGRES_PASSWORD=bjorn_password
            - POSTGRES_DB=bjorn_wiki
        ports:
            - "5435:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data

volumes:
    postgres_data:
